[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -D -H tcp://0.0.0.0:27000 -H unix:///var/run/docker.sock -g /data/docker  -D --insecure-registry {{ harbor_domain }}  --registry-mirror=https://pqbap4ya.mirror.aliyuncs.com
